<div class="home-page">

    <main class="container" *ngIf="user">
        <div>
            <span>
                <h3>BitApp balance</h3>
                <a routerLink="contact" routerLinkActive="active">Transfer money</a>
            </span>
            <div class="user-details">
                <div>
                    <img [src]="user.imgUrl" />
                    <div>
                        <h4>Hello {{user.name}}</h4>
                        <h4> ฿ {{user.coins}} BTC</h4>
                    </div>
                </div>
                <h2>{{(getCurrValue().y * user.coins) | currency}} </h2>
            </div>
            <div class="add-to-wallet">
                <h3>Coins deposit</h3>
                <div>
                    <input type="number" name="coins" [(ngModel)]="coins">
                    <button (click)="onAddCoins()">Deposit</button>
                </div>
            </div>
            <transfer-list [moves]="user.moves" title="Recent Activity" cardLimit="4"></transfer-list>
        </div>
        <div class="contact-container">
            <span>
                <h3>Contacts</h3>
                <a routerLink="contact" routerLinkActive="active">more</a>
            </span>
            <contact-list [contacts]="contacts"></contact-list>
        </div>
    </main>

    <div class="hero" *ngIf="!user">
        <h1>The next generation payment method</h1>
        <p>The most hype generation payment</p>
    </div>

</div>