// @import "../../../styles/setup/mixins";
// @import "../../../styles/setup/variables";
@import "../../../styles/setup/typography";

.transfer-preview {
    font-family: Lato-bold, sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
   
    h4 {  
        margin: 0 0;
        padding: 0 0;
        font-weight: inherit;


        &:first-child {
            font-family: Lato-black, sans-serif;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 5px;
   
        }
        
        &:last-child {
            font-size: 12px;
            margin-top: 5px;
            color: rgb(139, 139, 139);
        }
    }

    h3{
        display: flex;
        gap: 10px;
        font-size: 14px;
    }


    padding: 10px 0px;
    font-weight: 400;
}
