@import "../../../styles/setup/variables";
@import "../../../styles/setup/typography";

.contact-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    min-width: 350px;
    
    input {
        width: 100%;
        font-family: Lado-regular, sans-serif;
        padding: 15px 25px;
        font-size: 22px;
        border-radius: 7px;
        border: 1px solid rgb(184, 184, 184);
    }
}
