.main-container {
    display: grid;
    grid-template-columns:
        minmax(2rem, 1fr)
        minmax(auto, $normal-breakpoint)
        minmax(2rem, 1fr);

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(2rem, 1fr);
    }
}

// Main Header Layout

.card-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-flow: dense;

     > *:nth-child(3n+0) {
        grid-row: span 2;
      }

     > *:nth-child(2n+0) {
        grid-column: span 2;
      }
}
