@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");


.app {
    font-family: Montserrat, sans-serif;
    border-radius: 40px;
    box-shadow: 0 0 15px 0 #00000026;
    margin:60px 40px;
    background-color: #fff;
}
