<div class="contact-edit">
    <div>
        <button (click)="onGoBack()">Back</button>
        <button *ngIf="contact._id" (click)="onRemoveContact()">Remove</button>
    </div>
    <img [src]="contact.imgUrl" />
    <form (submit)="onSaveContact()">
        <input type="text" name="name" [(ngModel)]="contact.name" placeholder="contact name">
        <input type="text" name="email" [(ngModel)]="contact.email" placeholder="contact email">
        <input type="text" name="phone" [(ngModel)]="contact.phone" placeholder="contact phone">
        <button>Save</button>
    </form>
</div>