<div class="contact-details">

    <div>
        <button (click)="onGoBack()">Back</button>
        <a [routerLink]="['/contact' , contact._id, 'edit']">Edit</a>
    </div>
    <img [src]="contact.imgUrl" />
    <h2>{{contact.name}}</h2>
    <h4>{{contact.email}}</h4>
    <h4>{{contact.phone}}</h4>

    <div class="btn-container">
        <button (click)="onGoNeighborContact('back')">previous</button>
        <button (click)="onGoNeighborContact('next')">Next</button>
    </div>

    <p class="transfer-action-container" *ngIf="loggedInUser">
        <span>Transfer to {{contact.name}}</span>
        <span>
            <button (click)="onTransferChange(-1)">-</button>
            <span>{{coinsToTransfer}}</span>
            <button (click)="onTransferChange(1)">+</button>
        </span>
    </p>
    <button *ngIf="loggedInUser" (click)="onTransferCoins()">Transfer</button>

    <div class="user-transfer">
        <transfer-list *ngIf="moves.length" [moves]="moves" title="Your last moves to {{contact.name}}" cardLimit="4">
        </transfer-list>
    </div>
</div>