@import "../../../styles/setup/variables";

.contact-details {

    h4,h2{
        margin: 8px 0 ;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 30px;

    img {
        border-radius: 13px;
        margin-bottom: 30px;
    }

    div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 350px;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        min-width: 350px;
        align-items: center;
    }

    button,
    a {
        border: none;
        background-color: transparent;
        color: rgb(100, 100, 100);
        font-family: Lato-regular, sans-serif;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        padding: 12px 0;
        border-radius: 30px;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: rgb(53, 53, 53);
        }
    }

    .transfer-action-container {
        background-color: $clr-orange;
        min-width: 350px;
        border-radius: 8px;
        padding: 15px;
        color: $clr-light;

        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Lato-bold, sans-serif;
        gap: 10px;

        > span {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $clr-light;
            width: 30px;
            height: 30px;
        }
    }

    >button{
        background-color: $clr-blue;
        border-radius: 8px;
        padding: 15px;
        color: $clr-light;
        min-width: 380px;
    }
}
