@import "../../../styles/setup/typography";
@import "../../../styles/setup/variables";

.contact-preview {
    font-family: Lato-regular, sans-serif;
    border-radius: 60px;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    >div{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    a{
        color: $clr-blue;
        font-family: Lato-bold, sans-serif;
        font-size: 12px;
        text-decoration: none;
    }

    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;


    img {
        height: 50px;
        width: 50px;
        border-radius: 8px;
        box-shadow: 0 0 7px 0 #0000003d;
    }

    div{

        
        h2 {
            font-family: Lato-black, sans-serif;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 5px;

        }
        h4{
            font-size: 12px;
            margin-top: 5px;
            color: rgb(139, 139, 139);
        }
    }
}
